aiogram==2.25.1
aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.13
amqp==5.1.1
APScheduler==3.10.1
asgiref==3.6.0
async-timeout==4.0.2
attrs==22.2.0
automium==0.2.6
automium-web==0.1.1
Babel==2.9.1
backend==0.2.4.1
billiard==4.1.0
blinker==1.6.2
bootstrap-py==2.0.0
bootstrap4==0.1.0
cashier==1.3
category==0.0.3
celery==5.3.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
class-registry==2.1.2
click==8.1.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==39.0.0
csrf==0.1b1
defusedxml==0.7.1
dependencies==7.7.0
Django==4.2
django-allauth==0.54.0
django-apscheduler==0.6.2
django-dotenv==1.4.2
django-filter==23.3
django-filtersmerger==1.0.0
django-rest-swagger==2.2.0
djangorestframework==3.14.0
docutils==0.20.1
drf-writable-nested==0.7.0
drf-yasg==1.21.7
e==1.4.5
filters==1.3.2
Flask==2.3.2
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.37
idna==3.4
imagesize==1.4.1
inflection==0.5.1
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.2
kombu==5.3.1
legacy==0.1.6
logging==0.4.9.6
lxml==4.9.2
magic-filter==1.0.9
Markdown==3.4.4
MarkupSafe==2.1.3
multidict==6.0.4
news==1.0
numpy==1.24.2
oauthlib==3.2.2
openapi-codec==1.3.2
packaging==23.2
pguard==0.4.0
Pillow==10.0.1
prompt-toolkit==3.0.39
psycopg==3.1.12
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.16.1
PyJWT==2.7.0
pyOpenSSL==23.0.0
pyTelegramBotAPI==4.9.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2022.7.1
PyYAML==6.0.1
redis==4.5.4
regex==2023.6.3
requests==2.28.2
requests-oauthlib==1.3.1
service-identity==21.1.0
setuptools-scm==8.0.4
signals==0.0.2
simplejson==3.19.1
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
sqlparse==0.4.4
subscribe==0.6.1
telebot==0.0.5
TelegramBotAPI==0.3.2
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.0.1
uritemplate==4.1.1
urllib3==1.26.14
views==0.3
vine==5.0.0
wcwidth==0.2.6
Werkzeug==2.3.6
yarl==1.8.2